body, html, h2{
  margin:0;
  padding:0;
}

#header{
  width: 100%;
  background-color: Beige;
  height: 70px;
  font-size: 20px;
  padding-top: 12px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif; /*"Lucida Sans Unicode", "Lucida Grande", sans-serif*/
  color: DarkCyan;
}

.title{
  padding: 15px;
  font-size: 24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#gradientText{
  font-size: 45px;
  padding-left: 20px;
  background: -webkit-linear-gradient(SteelBlue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#stiched{
   padding: 20px;
   margin: 10px;
   background: SteelBlue;
   color: #fff;
   font-size: 21px;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 8px SteelBlue, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
   width: 50%;
}

#outline{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: Crimson;
  color: transparent;
  font-size: 70px;
  padding-left: 20px;
}

.typewriter h1 {
  width: 510px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid DarkCyan; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation:
    typing 4.5s steps(30, end),
    blink-caret .75s step-end 40;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 510px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: DarkCyan; }
}
